/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: white;
}

.app {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  width: 500px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  backdrop-filter: blur(5px);
}
.appContainer {
  position: relative;
}
.bubble {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: -15px;
  right: 20px;
  z-index: -10;
}

.searchBarWrap {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 20px;
  flex: 1;
  outline: none;
  color: white;
  font-size: 20px;
}
.input::placeholder {
  color: white;
  font-size: 20px;
}

.btn {
  font-size: 20px;
  padding: 20px;
  color: skyblue;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  outline: none;
}

.contentWrap {
  text-align: center;
  margin-top: 60px;
}

.cityName,
.weather,
.subWeather {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cityName {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

.weather,
.subWeather {
  font-size: 18px;
  margin-bottom: 40px;
}

.temp {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
}

.rangeBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min,
.max {
  padding: 10px;
  font-size: 20px;
}
.min span,
.max span {
  font-weight: bold;

  display: block;
  margin-bottom: 10px;
}
.min {
  border-right: 1px solid white;
}

.icon {
}
